* {
    box-sizing: border-box;
}

@font-face {
	font-family: Nunito;
	src: url(../font/Nunito-Regular.ttf);
}

body {
	margin: 0;
	height: 100vh;
	width: 100vw;
	font-family: Nunito;
	font-weight: 900;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ecf0f3;
}

form {
	border-radius: 40px;
	padding: 30px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: #ecf0f3;
	box-shadow: 8px 8px 15px #a7aaaf, -8px -8px 15px #ffffff;
}

h1 {
    margin-bottom: 30px;
    padding: 0;
}

label {
	display: inline-block;
	width: 40px;
	border: 1px solid black;
	border-radius: 5px 0 0 5px;
	border: none;
	outline: none;
	background: none;
	display: flex;
	align-items: center;
	color: #555555;
}

input {
	margin: 0;
	border-radius: 25px;
	text-align: center;
	font-family: Nunito;
	font-weight: 900;
	border-left: 0;
    width: 150px;
	padding: 10px 10px 10px 10px;
	border: none;
	outline: none;
	background: none;
	box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
	color: #555555;
}

span {
	display: flex;
	margin-bottom: 20px;
}

div {
	margin: 0 auto 30px auto;
	/* font-size: 48px; */
    width: 200px;
	height: 50px;
	border-radius: 20px;
	box-shadow: 0px 0px 1px #5f5f5f, 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaaf,
		-8px -8px 15px #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #555555;
}

div.resultado {
	margin: 0 auto 30px auto;
	font-size: 48px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	box-shadow: 0px 0px 1px #5f5f5f, 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaaf,
		-8px -8px 15px #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #555555;
}

button {
	font-family: Nunito;
	font-weight: 900;
	font-size: 20px;
	border-radius: 30px;
	border: none;
	outline: none;
	cursor: pointer;
	box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
	color: #ffffff;
	background-color: #24cfaa;
	transition: 0.5s;
}

button:hover {
	background-color: #2fdbb6;
}

button:active {
	background-color: #1da88a;
}